{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>TodoApp {% block title %}{% endblock %}</title>
    <style>
        a:hover {
            opacity: 70%;
        }
        .btn:hover {
            opacity: 70%;
        }
    </style>
</head>
<body>
    {% block header %}
    {% endblock %}

    <div class="container">
        {% block contents %}
        {% endblock %}
    </div>

    {% block footer %}
    {% endblock %}
</body>
</html>